<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
    <style>
        header{
            background-color: #EBEAF0;
            padding: 10px auto;
            display: flex;
            justify-content: center;
            align-items: center;
        } 
        img { 
            width: 80px;
        }
         h1 { 
            color: #000;
            text-align: left;
            font-size: 30px;
            font-weight: 900;
            margin-left: 10px;
        }
         div { 
           margin-top: 20px;
        }
         h2 { 
           margin-top: 30px;
           margin-bottom: 30px;
           color: #000;
           text-align: center;
            font-size: 30px;
            font-weight: 900;
        }
         h3 { 
           margin-top: 20px;
           margin-bottom: 20px;
           color: #000;
            font-size: 22px;
            font-weight: 600;
        }
        button{
            margin-top:20px;
            margin-bottom:20px;
            border-radius: 5px;
            padding-left: 20px;
            padding-right: 20px;
        }
       button a{
            text-decoration: none;
            color:#000;
        }
        p{ 
            color:#000;
        }
    </style>
</head>
<body>
    <header>
     <img src="cid:logo">
      <h1>Dinari Green Life</h1>
    </header>
    <div>
      <h3>Welcome <strong> {{ name }}</strong></h3>
      <p>Your account has been created successfully</p>
    </div>

</body>
</html>